graft src
graft tests
graft docs

include .flake8
include .travis.yml
include doc8.ini
include mypy.ini
include tox.ini
include vulture_whitelist.py

include *.rst

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.swp
